body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}

header {
  text-align: center;
}

img {
  align-self: center;
}

.nav-link {
  padding: 0 10px;
  background-color: grey;
}

figcaption {
  text-align: center;
}

.para {
  width: 800px;
  margin: auto;
  padding: 10px;
  text-align: center;

}

#details {
  padding: 10px;
}

.linksdiv {
  float: left;
  width: 25%;
  background-color: red;
}